---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&screen_name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8cJPAcdbKftgdBecYNlC5zh54", oauth_nonce="63d0c91d84db1c60b80bcf5711952534",
        oauth_signature="QrFW4glQB%2FGvL1soBlItL9rBZ3I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1489098694", oauth_token="787336463243325440-Ne3UWic3Bu98yp91BXgwc5E0x9FjTC9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 09 Mar 2017 22:31:35 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 131853a2748ab9d191a47cb30a435a55
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1489099595'
      X-Response-Time:
      - '104'
      X-Transaction:
      - 00e477c200d1c720
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":23255992,"id_str":"23255992","name":"TechnoBuffalo","screen_name":"TechnoBuffalo","location":"US","description":"Immerse
        Yourself in Technology","url":"http:\/\/t.co\/PRGJ0kZNGz","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/PRGJ0kZNGz","expanded_url":"http:\/\/www.technobuffalo.com","display_url":"technobuffalo.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":220579,"friends_count":84,"listed_count":2802,"created_at":"Sun
        Mar 08 00:36:46 +0000 2009","favourites_count":478,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":87168,"lang":"en","status":{"created_at":"Thu
        Mar 09 22:03:09 +0000 2017","id":839959770371018752,"id_str":"839959770371018752","text":"Dark
        Souls III: The Ringed City DLC gets one more round of beautiful screenshots
        https:\/\/t.co\/RWgNytmQar https:\/\/t.co\/Depw7Rv6CV","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/RWgNytmQar","expanded_url":"https:\/\/www.technobuffalo.com\/2017\/03\/09\/dark-souls-iii-the-ringed-city-dlc-gets-one-more-round-of-beautiful-screenshots\/?utm_source=dlvr.it&utm_medium=twitter","display_url":"technobuffalo.com\/2017\/03\/09\/dar\u2026","indices":[81,104]}],"media":[{"id":839959766621282304,"id_str":"839959766621282304","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/media\/C6gi9RsU4AAFWPR.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C6gi9RsU4AAFWPR.jpg","url":"https:\/\/t.co\/Depw7Rv6CV","display_url":"pic.twitter.com\/Depw7Rv6CV","expanded_url":"https:\/\/twitter.com\/TechnoBuffalo\/status\/839959770371018752\/photo\/1","type":"photo","sizes":{"large":{"w":853,"h":480,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":853,"h":480,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":839959766621282304,"id_str":"839959766621282304","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/media\/C6gi9RsU4AAFWPR.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C6gi9RsU4AAFWPR.jpg","url":"https:\/\/t.co\/Depw7Rv6CV","display_url":"pic.twitter.com\/Depw7Rv6CV","expanded_url":"https:\/\/twitter.com\/TechnoBuffalo\/status\/839959770371018752\/photo\/1","type":"photo","sizes":{"large":{"w":853,"h":480,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":853,"h":480,"resize":"fit"}}}]},"source":"\u003ca
        href=\"https:\/\/dlvrit.com\/\" rel=\"nofollow\"\u003edlvr.it\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":3,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/402479942\/technobuffalo_2012_twitter_background_stock.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/402479942\/technobuffalo_2012_twitter_background_stock.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/825125138936893440\/r6j2RH0P_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/825125138936893440\/r6j2RH0P_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/23255992\/1485560151","profile_link_color":"3B94D9","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"live_following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false,"translator_type":"none"},{"id":1406814324,"id_str":"1406814324","name":"Dagogo
        Altraide","screen_name":"ColdFusion_TV","location":"Perth Australia","description":"It''s
        New Thinking.","url":"https:\/\/t.co\/gRj69eStts","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/gRj69eStts","expanded_url":"https:\/\/www.youtube.com\/channel\/UC4QZ_LsYcvcq7qOsOhpAX4A","display_url":"youtube.com\/channel\/UC4QZ_\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":30969,"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=1555427673208226503&screen_name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8cJPAcdbKftgdBecYNlC5zh54", oauth_nonce="d5659a40446c9682db0bc9e57e5e8d29",
        oauth_signature="TMjbKtVeOmAoKWa2uTDu5wbMM2M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1489098695", oauth_token="787336463243325440-Ne3UWic3Bu98yp91BX[...]
[...]
