---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8cJPAcdbKftgdBecYNlC5zh54", oauth_nonce="f7f96782e18a2cbd322b48a354076541",
        oauth_signature="zdqTmAj38OHwyqIuRyOgijmkK4E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1489097410", oauth_token="787336463243325440-Ne3UWic3Bu98yp91BXgwc5E0x9FjTC9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 09 Mar 2017 22:10:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ef22cd9c17cd6a5a3aaf8d434ca1ae72
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '5'
      X-Rate-Limit-Reset:
      - '1489097432'
      X-Response-Time:
      - '81'
      X-Transaction:
      - 00308ca7006fb7f1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":622675901,"id_str":"622675901","name":"Drone News &
        Awards","screen_name":"Drone_NR","location":"Perth, Western Australia","description":"We
        keep the community up-to-date with all the latest #drone #news.","url":"https:\/\/t.co\/tt1AvYJs1X","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/tt1AvYJs1X","expanded_url":"http:\/\/news.dronenr.com","display_url":"news.dronenr.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":3600,"friends_count":2237,"listed_count":197,"created_at":"Sat
        Jun 30 09:38:15 +0000 2012","favourites_count":3857,"utc_offset":28800,"time_zone":"Perth","geo_enabled":false,"verified":false,"statuses_count":7105,"lang":"en","status":{"created_at":"Thu
        Mar 09 12:49:02 +0000 2017","id":839820323310600197,"id_str":"839820323310600197","text":"RT
        @spokanehouse: #drone conference this month @Drone_NR   https:\/\/t.co\/Haik91H0uz
        https:\/\/t.co\/OsotaQPZJj","truncated":false,"entities":{"hashtags":[{"text":"drone","indices":[18,24]}],"symbols":[],"user_mentions":[{"screen_name":"spokanehouse","name":"Marianne  Bornhoft","id":18399190,"id_str":"18399190","indices":[3,16]},{"screen_name":"Drone_NR","name":"Drone
        News Daily \ud83d\ude81","id":622675901,"id_str":"622675901","indices":[47,56]}],"urls":[{"url":"https:\/\/t.co\/Haik91H0uz","expanded_url":"https:\/\/www.spokanerealtor.com\/home-drone","display_url":"spokanerealtor.com\/home-drone","indices":[59,82]}],"media":[{"id":839819739098554368,"id_str":"839819739098554368","indices":[83,106],"media_url":"http:\/\/pbs.twimg.com\/media\/C6ejmmhUoAAltTt.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C6ejmmhUoAAltTt.jpg","url":"https:\/\/t.co\/OsotaQPZJj","display_url":"pic.twitter.com\/OsotaQPZJj","expanded_url":"https:\/\/twitter.com\/spokanehouse\/status\/839819746363109377\/photo\/1","type":"photo","sizes":{"medium":{"w":500,"h":772,"resize":"fit"},"large":{"w":500,"h":772,"resize":"fit"},"small":{"w":440,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}},"source_status_id":839819746363109377,"source_status_id_str":"839819746363109377","source_user_id":18399190,"source_user_id_str":"18399190"}]},"extended_entities":{"media":[{"id":839819739098554368,"id_str":"839819739098554368","indices":[83,106],"media_url":"http:\/\/pbs.twimg.com\/media\/C6ejmmhUoAAltTt.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C6ejmmhUoAAltTt.jpg","url":"https:\/\/t.co\/OsotaQPZJj","display_url":"pic.twitter.com\/OsotaQPZJj","expanded_url":"https:\/\/twitter.com\/spokanehouse\/status\/839819746363109377\/photo\/1","type":"photo","sizes":{"medium":{"w":500,"h":772,"resize":"fit"},"large":{"w":500,"h":772,"resize":"fit"},"small":{"w":440,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}},"source_status_id":839819746363109377,"source_status_id_str":"839819746363109377","source_user_id":18399190,"source_user_id_str":"18399190"}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Mar 09 12:46:45 +0000 2017","id":839819746363109377,"id_str":"839819746363109377","text":"#drone
        conference this month @Drone_NR   https:\/\/t.co\/Haik91H0uz https:\/\/t.co\/OsotaQPZJj","truncated":false,"entities":{"hashtags":[{"text":"drone","indices":[0,6]}],"symbols":[],"user_mentions":[{"screen_name":"Drone_NR","name":"Drone
        News Daily \ud83d\ude81","id":622675901,"id_str":"622675901","indices":[29,38]}],"urls":[{"url":"https:\/\/t.co\/Haik91H0uz",[...]
