<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <% if current_user %>
  <li role="presentation" class="active"><%= link_to "Sign Out", logout_path, method: :delete %></a></li>
  <% else %>
  <li role="presentation" class="active"><%= link_to "Sign in with Twitter", login_path %></a></li>
  <% end %>
</ul>
