<!DOCTYPE html>
<html>
<head>
  <title>ApiCurious</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><%= link_to "Sign in with Twitter", "/auth/twitter" %></a></li>
  </ul>
</body>
</html>
